.header__logo {
    width: 142px;
    height: 33px;
    display: block;
    object-fit: contain;
}

@media screen and (max-width: 970px) {
    .header__logo {
        width: 104px;
        height: 25px;
        margin-left: 30px;
    }
}