.profile__header {
    max-width: calc(100% - 42px);
    margin: 22px 0 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 440px) {
    .profile__header {
        margin: 26px 0 0;
        font-size: 27px;
        line-height: 33px;
    }
}
