.popup__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    min-height: 27px;
    box-sizing: border-box;
    padding: 0;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, .2);
}

.popup__input:first-of-type {
    margin-top: 54px;
}

@media screen and (max-width: 767px) {
    .popup__input:first-of-type {
        margin-top: 75px;
    }
}