.profile__info {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: baseline;
}

@media screen and (max-width: 767px) {
    .profile__info {
        margin: 0 auto;
        justify-content: center;
    }
}